<div class="profile-panel profile-panel--flex">
  <div class="profile-panel__col">
    <img
      src="https://cdn.pixabay.com/photo/2016/04/21/01/31/handsome-1342457__340.jpg"
      alt=""
      class="profile-panel__image"
    />
  </div>
  <div class="profile-panel__col">
    <div class="profile-panel__container">
      <div class="profile-panel__wrapper-header">
        <h1 class="profile__text--dark--medium">Mark_InstirepAbelardo10 🎉</h1>
        <p class="profile__text--smooth child">Mark Instired Boriel</p>
      </div>
      <div class="profile-panel__wrapper-body profile-panel--flex">
        <div class="profile-panel--flex flex-align-center">
          <div class="profile__text--dark--medium">2325</div>
          <div class="profile__text--smooth child">Passed</div>
        </div>
        <div class="profile-panel--flex flex-align-center">
          <div class="profile__text--dark--medium">1533</div>
          <div class="profile__text--smooth child">Tags</div>
        </div>
        <div class="profile-panel--flex flex-align-center">
          <div class="profile__text--dark--medium">761</div>
          <div class="profile__text--smooth child">Events</div>
        </div>
      </div>
      <div class="profile-panel__wrapper-footer">
        <p class="profile__text--smooth">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
          laudantium at! Praesentium ab unde debitis 💙💙💙 reprehenderit ipsam aut
          inventore quod earum eum optio totam, sed aliquam error beatae quia a.
        </p>
      </div>
    </div>
  </div>
</div>
