@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

:root {
  --color-primary: #8800f3;
  --color-primary-alpha-1: #8a00f313;
  --color-primary-dark-medium: rgb(30, 130, 230);
  --color-primary-dark: rgb(30, 80, 190);
  --color-layout-primary: #ffffff;
  --color-bg-page: rgb(250, 250, 250);
  --color-text-primary: var(--color-primary);
  --color-text-primary-light: white;
  --color-text-neutral: #bbbbbb;
  --color-text-neutral-medium: #5a5a5a;
  --color-text-neutral-darker: #3c3c3c;
  --color-text-neutral-dark: #000000;
  --color-border-neutral: rgba(0, 0, 0, 0.1);
  --color-scrollbar-thumb: rgba(0, 0, 0, 0.1);
  --color-backdrop: rgba(0, 0, 0, 0.6);
}

// change of theme system default

@media (prefers-color-scheme: light) {
  :root {
    --color-bg-page: rgb(30, 30, 30);
    --color-layout-primary: rgb(20, 20, 20);
    --color-text-neutral-darker: rgb(230, 230, 230);
    --color-text-neutral-dark: #ffffff;
    --color-border-neutral: rgba(200, 200, 200, 0.1);
  }
}

* {
  box-sizing: border-box;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button,
textarea,
summary,
details,
input {
  outline: none;
  border-width: 0;
}

body {
  background: var(--color-bg-page);
}