:root {
    --light : white;
    --primary : rgb(30,130,230);
    --secondary : rgb(230,60,90);
    --dark : rgb(40,40,40);
    --light-background : rgb(248,248,248);
}

body {
    background: var(--light-background) !important;
}